body {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.logo {
  font-size: x-large;
}
header {
  background: #6287a2;
  color: #fff;
  padding: 15px;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #333;
  font-weight: normal;
  text-decoration: none;
  transition: font-weight 0.3s ease;
}
nav ul li a:hover {
  font-weight: bolder;
  text-decoration: underline;
}

#search {
  text-align: center;
  padding: 20px;
  background: white;
}

#search input,
#search select,
#search button {
  margin: 5px;
  padding: 10px;
}

#jobs {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.job-listing {
  background: white;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
  text-align: center;
  padding: 15px;
  background: #333;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}
