*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    position: sticky;
    top: 0;
}

h1 {
    font-size: xx-large;
    border-radius: 10px;
    color: lightslategray;
    padding: 10px;
    text-align: center;
    color: black;
}

header > nav {
    background-color: #9AA6B2;
    color: white;
    padding: 0.5%;
}

header > nav > a {
    text-decoration: none;
    color: white;
}

img {
    width: 40px;
    height:50px;
    position: absolute;
    left: 70px;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
}

/* main */
main {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #FFFFFF;
    margin: 0%;
}

.atas{
    display: flex;
    border: 2px solid black;
    border-radius: 15px;
    margin-right: 10px;
    font-size: 10px;
    padding:15px;
    text-align: left;
}

.bawah{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    margin-top: 20px;
    width: 100px;
    height: 40px;
    border: 2px solid black;
}

.anak{
    background-color:white ;
    display: inline-block;
    border: solid ;
    border-radius: 30px;
    padding: 5px;
    margin-bottom: 10px;
    font-size: small;
}

li{
    position: flex;
    margin-left: 10px;
}

p{
    font-size: large;
}

ul{
    font-size: 15px;    
}




/* footer */
.footer-col {
    width: 25%;
}

.footer-col ul {
    padding-left: 0;
}

.footer-col ul:first-child {
    font-size: small;
    padding-left: 50px;

}

.footer-row .footer-col img {
    /* visibility: hidden; */
    padding: 5px 0;
    margin-left: 5px;
    scale: 3;
}

.footer-col ul li {
    list-style-type: none;
    align-items: flex-start;
}

.footer-row > .footer-col:first-of-type {
    /* margin-right: 20%; */
    padding-right: 5%;
}

.footer-row {
    display: flex;
    line-height: 1.25;
}

.footer-col h4{
    font-family: "Poppins", 'Courier New', Courier, monospace;
}

.footer-col ul li a {
    text-decoration: none;
    color: #eeeeee;
    font-style: italic;
}

.footer-col ul li a:hover {
    text-decoration:underline;
    color: gold;
    i {
        padding-left: 3px;
    }
}

.footer-row > .footer-col:last-of-type ul li a, .footer-row > .footer-col:nth-child(3) ul li:nth-child(1) a {
    font-family: 'Courier New', Courier, monospace;
    font-style: normal ;
}

footer {
    margin: auto;
    margin-top: 10px;
    background-color: #24262b;
    color: #eeeeee;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    margin-bottom: 0;

}

#xnicdx:hover {
    color: gold;
    cursor: context-menu;
    scale: 1.03;
}
